.root {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    background: linear-gradient(white, rgba(227, 136, 250, 0.934), rgb(161, 44, 176));
}

.card {
    display: flex;
    width: 1000px;
    height: 100vh;
    position: relative;
    background-color: white;
}

.left-portion {
    width: 30%;
    background-color: rgba(56, 2, 70, 0.934);
    display: flex;
    flex-direction: column;
}

.center-portion {
    width: 300px;
    height: 300px;
    background-color: rgba(56, 2, 70, 0.934);
    border-radius: 50%;
    position: absolute;
    top: 25%;
    left: 15%;
}

.inner-circle {
    width: 270px;
    height: 270px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.inner-center-circle {
    width: 200px;
    height: 200px;
    background-color: rgba(56, 2, 70, 0.934);
    border-radius: 50%;
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(-50%, -50%);
    border: 4px solid #fff;
}

.profile {
    border-radius: 50%;
    width: 85%;
    height: 85%;
    object-fit: cover;
}

.right-portion {
    width: 70%;
}

.content {
    display: flexbox;
    max-width: 600px;
    width: 100%;
    margin-left: 150px;
    margin-top: 150px;
}

.name {
    display: flex;
    color: rgba(56, 2, 70, 0.934);
    text-align: left;
    margin-left: 60px;
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px;
}

.about {
    display: flex;
    font-weight: 600;
    font-style: italic;
    text-align: left;
    margin-left: 60px;
    font-size: 15px;
    line-height: 1.6;
    white-space: normal;
}

.navigation {
    align-items: center;
    justify-content: center;
    display: flex;
    margin-top: 20px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    align-items: center;
    display: flex;
}

nav ul li {
    margin: 0;
    margin-right: 50px;
}

nav ul li a {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    text-align: center;
    color: rgba(56, 2, 70, 0.934);
}

.projects-heading {
    color: white;
}

#project-buttons {
    padding: 50px;
}

.project1 {
    text-decoration: none;
    display: block;
    padding-bottom: 10px;
}

.Btn-project1 {
    background: linear-gradient(yellow, rgba(234, 197, 33, 0.934), rgb(211, 208, 29));
    color: blue;
    font-size: medium;
    border: none;
    border-radius: 10px;
    height: 25px;
    padding: 20px;
    font-weight: bold;
    align-items: center;
    justify-content: center;
    display: flex;
    cursor: pointer;
}

.Btn-project1:hover {
    color: white;
    background: rgb(237, 92, 232);
}

.Btn-project2 {
    background: linear-gradient(rgb(139, 216, 130), rgba(141, 226, 72, 0.934), rgb(114, 241, 24));
    color: blue;
    font-size: medium;
    border: none;
    border-radius: 10px;
    height: 25px;
    font-weight: bold;
    padding: 20px;
    align-items: center;
    justify-content: center;
    display: flex;
    cursor: pointer;
}

.Btn-project2:hover {
    color: white;
    background: rgb(237, 92, 232);
}

#contact-form {
    padding-top: 20px;
    padding-left: 10px;
}

.form_group {
    padding: 10px;
    justify-content: left;
    display: flex;
}

.form_group input {
    border: none;
    border-radius: 20px;
    margin-left: 10px;
    height: 20px;
    padding-left: 10px;
    background-color: rgb(211, 153, 210);
}

.form_group textarea {
    border: none;
    border-radius: 20px;
    height: 20px;
    margin-left: 10px;
    background-color: rgb(211, 153, 210);
}

.form_group label {
    color: rgb(10, 61, 111);
    font-style: italic;
    font-weight: 800;
}

.form_group input::placeholder {
    font-style: italic;
    font-size: smaller;
    color: rgb(49, 26, 45);
}

#contact-form button {
    font-weight: 900;
    border-radius: 30px;
    background-color: rgb(211, 153, 210);
    color: rgba(56, 2, 70, 0.934);
    border: solid;
    height: 30px;
    padding: 15px;
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-left: 90px;
}

.contacts-heading {
    color: white;
}

.left-portion h1 {
    text-align: center;
    width: 100%;
}

.left-portion img {
    border-radius: 50%;
    align-self: center;
}

@media (max-width:1180px) {
    .center-portion {
        width: 150px;
        height: 150px;
        background-color: rgba(56, 2, 70, 0.934);
        border-radius: 50%;
        position: absolute;
        top: 50%;
        left: 20%;
    }

    .inner-circle {
        width: 130px;
        height: 130px;
        background-color: white;
        border-radius: 50%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .inner-center-circle {
        width: 100px;
        height: 100px;
    }

    .content {
        display: flexbox;
        max-width: 300px;
        width: 100%;
        margin-left: 70px;
        margin-top: 70px;
    }
}


@media (max-width:615px) {
    .center-portion {
        width: 100px;
        height: 100px;
        background-color: rgba(56, 2, 70, 0.934);
        border-radius: 50%;
        position: absolute;
        top: 50%;
        left: 20%;
    }

    .inner-circle {
        width: 70px;
        height: 70px;
        background-color: white;
        border-radius: 50%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .inner-center-circle {
        width: 50px;
        height: 50px;
        background-color: rgba(56, 2, 70, 0.934);
        border-radius: 50%;
        position: absolute;
        overflow: hidden;
        top: 50%;
        left: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        transform: translate(-50%, -50%);
        border: 2px solid #fff;
    }

    .content {
        display: flexbox;
        width: 200%;
        margin-left: 35px;
        margin-top: 35px;
        font-size: smaller;
    }

    .navigation {
        display: flex;
        align-items: end;
        justify-content: end;
        margin-top: 20px;
        padding: 0;
    }

    nav ul li a {
        display: block;
        justify-content: flex-end;
        align-items: flex-end;
        padding: 5px 10px;
        text-decoration: none;
        text-align: center;
        font-size: smaller;
        color: rgba(56, 2, 70, 0.934);
    }

    nav ul li {
        margin: 0;
        margin-right: 25px;
    }
}